APScheduler==3.5.1
beautifulsoup4==4.6.0
boto3==1.9.135
botocore==1.12.135
docutils==0.14
flake8==3.7.7
Flask==1.0.2
Flask-Caching==1.4.0
Flask-Cors==3.0.4
Flask-Login==0.4.1
Flask-Migrate==2.4.0
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.4.0
flask-shell-ipython==0.4.1
gunicorn==19.9.0
ipython==6.3.1
Jinja2==2.10.1
marshmallow==2.12.2
nose==1.3.7
nose2==0.6.5
numpy==1.15.2
pep8==1.7.0
pep8-naming==0.4.1
pandas==0.23.4
prometheus-client==0.5.0
Pygments==2.2.0
pymongo==3.6.1
PyMySQL==0.9.3
PyPDF2==1.26.0
python-dateutil==2.8.0
python-jenkins==0.4.13
pytz==2019.1
PyYAML==3.12
redis==2.10.6
requests==2.22.0
scikit-learn==0.19.2
scipy==1.1.0
SQLAlchemy==1.3.3
sqltap==0.3.11
urllib3==1.25.2
xmltodict==0.11
python-dotenv==0.10.1
inflection==0.3.1
tzlocal==1.5.1
Werkzeug==0.15.5
